# Copia como ansible/secrets.yml y rellena con valores reales
# NUNCA subas el secrets.yml real a Git
lldap_jwt_secret: ""
lldap_ldap_user_pass: ""
mysql_root_password: ""
mysql_password: ""
nextcloud_admin_password: ""
grafana_admin_password: ""
